##sum  of all the items in list

In [2]:
a=[]
sum=0
b=int(input("number of elements?:"))
for i in range(b):
    c=int(input("enter elements into list :"))
    a.append(c)
    sum+=c
    
print(a)
print(sum)

number of elements?:4
enter elements into list :2
enter elements into list :2
enter elements into list :2
enter elements into list :2
[2, 2, 2, 2]
8

##list of empty dictinaries

In [6]:
a=5
b=[{}for i in range(a)]
print(b)

[{}, {}, {}, {}, {}]

##acces dictronary

In [9]:
acc = {'randomforest': 80, 'decisiontree': 90, 'SVM': 86}
print(list(acc)[2])

SVM

##lterate over dictionaries using loops

In [10]:
        
d = {'perk': 1, 'fivestar': 2, 'munch': 3} 
for key, value in d.items():
     print(key, 'is: ', d[key])

perk is:  1
fivestar is:  2
munch is:  3

##sum of all the items in dictanary

In [ ]:
a=[]
my_dict = {'data1':100,'data2':-54,'data3':247}
a=list((my_dict.values()))
sum=0
for i in a:
    sum+=i    
print(a)
print(sum)

##create new dictionary by concatinating other

In [11]:
#dict1={1:10,2:20}
#dict2={3:30,4:40}
#dict3={5:50,6:60}


#d4 = dict(dict1.items() + dict2.items() + dict3.items()) ## does not work on python3
#print(d4)


dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)                       ##update
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}