##Binary number to decimal

In [40]:
binary=(input('entre a binary number'))
decimal=int(binary,2)
print(binary,"In decimal",decimal)

entre a binary number010
010 In decimal 2

##fibonacci serius

In [6]:

n=int(input(" a user entre fibonacci number"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)

 a user entre fibonacci number10
0
1
1
2
3
5
8
13
21
34

##multipliacation table

In [16]:
K=int(input("entre a number to multiplication table"))
for i in range(i,21):
   print(K,"X",i,"=",K*i)

entre a number to multiplication table7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
7 X 20 = 140

##Gcd
```

##Gcd and hcf

In [48]:
import math
x= int(input("Enter first number: "))  
y = int(input("Enter second number: "))  
a=x
b=y
if x > y:  
    smaller = y  
else:  
    smaller = x  
for i in range(1,smaller + 1):
    
    if((x % i == 0) and (y % i == 0)):  
        hcf = i  
print("hcd of two numbers is",hcf)
print("gcd of two numbers is",math.gcd(a,b))

Enter first number: 12
Enter second number: 8
hcd of two numbers is 4
gcd of two numbers is 4